<table>
  <th>Title</th>
  <th>Author</th>
  <th>Edition</th>
  <th>Year</th>
  <th>ISBN</th>
  <% if table_type == :owned %>
    <th>Status</th>
  <% end %>
  <th colspan="2"></th>
  <% books.each do |book| %>
    <tr>
      <td> <%= book.title %> </td>
      <td> <%= book.author %> </td>
      <td> <%= book.edition %> </td>
      <td> <%= book.year %> </td>
      <td> <%= book.isbn %> </td>
      <% if table_type == :owned %>
        <td>
          <%= capitalized_status(book) %>
          <% unless book.is_available? %>
            by <%= link_to "#{ book.borrower.first_name }", user_path(book.borrower) %>
          <% end %>
        </td>
        <% if book.belongs_to?(current_user) %>
          <td><%= link_to 'Edit', edit_book_path(book) %></td>
          <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% if book.is_reserved? %>
            <td>
              <%= form_for book do |f| %>
                <%= f.hidden_field :status, value: Book::BORROWED %>
                <%= f.submit "Accept request" %>
              <% end %>
            </td>
          <% end %>
          <% if book.is_borrowed? %>
            <td>
              <%= link_to "Mark as returned", [book, book.reservation], method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          <% end %>
        <% end %>
        <% if book.available_to_borrow_by?(current_user) %>
          <td><%= link_to 'Reserve', new_book_reservation_path(book) %></td>
        <% end %>
      <% end %>
      <% if table_type == :reserved %>
        <% if book.reserved_by?(current_user) %>
          <td> <%= link_to 'Withdraw reservation', [book, book.reservation], method: :delete, data: { confirm: 'Are you sure?' }%></td>
          <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
