<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Delete account', @user, method: :delete, data: { confirm: 'Are you sure?' } %>

<h2>Books owned (<%=@user.books.count%> in total):</h1>
  <table>
    <th>Title</th>
    <th>ISBN</th>
    <th>Status</th>
    <th colspan="2"></th>
    <% @user.books.each do |book| %>
    <tr>
      <td> <%= book.title %> </td>
      <td> <%= book.isbn %> </td>
      <td> <%= book.status %> </td>
      <% if book.belongs_to?(current_user) %>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      <% unless book.available_to_borrow?(current_user) %>
        <td><%= link_to 'Reserve', book %></td>
      <% end %>
    </tr>
    <% end %>
  </table>

  <% if @user == current_user %>
    <%= link_to 'New Book', new_book_path %>
  <% end %>




