<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Delete account', @user, method: :delete, data: { confirm: 'Are you sure?' } %>

<h2>Books owned (<%= @user.books.count %> in total):</h2>
  <table>
    <th>Title</th>
    <th>ISBN</th>
    <th>Status</th>
    <th colspan="2"></th>
    <% @user.books.each do |book| %>
    <tr>
      <td> <%= book.title %> </td>
      <td> <%= book.isbn %> </td>
      <td> <%= friendly_status(book) %> </td>
      <% if book.belongs_to?(current_user) %>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% if book.has_pending_reservation? %>
          <td>
            <%= form_for book do |f| %>
              <%= f.hidden_field :status, value: Book::BORROWED %>
              <%= f.submit "Accept request", class: "btn" %>
            <% end %>
          </td>
        <% end %>
        <% if book.is_borrowed? %>
          <td>
            <%= form_for book do |f| %>
              <%= f.hidden_field :status, value: Book::FREE %>
              <%= f.submit "Mark as returned", class: "btn" %>
            <% end %>
          </td>
        <% end %>
      <% end %>
      <% if book.available_to_borrow?(current_user) %>
        <td><%= link_to 'Reserve', book %></td>
      <% end %>
    </tr>
    <% end %>
  </table>

  <% if @user == current_user %>
    <%= link_to 'New Book', new_book_path %>
  <% end %>

<h2>Books reserved (<%= reserved_books(@user).count %> in total):</h2>

  <table>
    <th>Title</th>
    <th>ISBN</th>
    <th colspan="1"></th>
    <% reserved_books(@user).each do |book| %>
    <tr>
      <td> <%= book.title %> </td>
      <td> <%= book.isbn %> </td>
      <td> <%= link_to 'Withdraw reservation', book %></td>
    </tr>
    <% end %>
  </table>


<h2>Books borrowed (<%= borrowed_books(@user).count %> in total):</h2>

  <table>
    <th>Title</th>
    <th>ISBN</th>
    <th colspan="1"></th>
    <% borrowed_books(@user).each do |book| %>
    <tr>
      <td> <%= book.title %> </td>
      <td> <%= book.isbn %> </td>
    </tr>
    <% end %>
  </table>




