<p>
  <strong><%= @user.friendly_name %></strong>
</p><p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if @user == current_user %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Delete account', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<h2>Books owned (<%= owned_books(@user).count %> in total):</h2>
<%= render 'book_table', books: owned_books(@user), table_type: :owned %>

<% if @user == current_user %>
<%= link_to 'New Book', new_book_path %>
<% end %>

<h2>Books reserved (<%= reserved_books(@user).count %> in total):</h2>
<%= render 'book_table', books: reserved_books(@user), table_type: :reserved %>


<h2>Books borrowed (<%= borrowed_books(@user).count %> in total):</h2>
<%= render 'book_table', books: borrowed_books(@user), table_type: :borrowed %>




