<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Edition</th>
      <th>Year</th>
      <th>Isbn</th>
      <th>Owner</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= link_to "#{ book.title }", book_path(book) %></td>
        <td><%= book.author %></td>
        <td><%= book.edition %></td>
        <td><%= book.year %></td>
        <td><%= book.isbn %></td>
        <td><%= link_to "#{ book.user.first_name }", user_path(book.user) %></td>
        <td><%= capitalized_status(book) %></td>
        <% if book.available_to_borrow?(current_user) %>
          <td><%= link_to 'Reserve', book %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
