<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @book.edition %>
</p>

<p>
  <strong>Year:</strong>
  <%= @book.year %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Tags</strong>
<%= collection_check_boxes(:book, :tag_ids, Tag.all, :id, :name) %>
</p>

<% if @book.belongs_to?(current_user) %>
  <%= link_to 'Edit', edit_book_path(@book) %>
<% end %>


<% unless @book.belongs_to?(current_user) %>
  <%= form_for :book,
                url: book_path(@book),
                html: {
                  method: :put,
                  } do |f| %>
                    <input type="hidden" name="book[status]" value="<%= Book::RESERVED %>"/>
                    <input type="submit" value="Reserve"/>
                  <% end %>
<% end %>
