<% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @book.edition %>
</p>

<p>
  <strong>Year:</strong>
  <%= @book.year %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Tags</strong>
<%= collection_check_boxes(:book, :tag_ids, Tag.all, :id, :name) %>
</p>

<% if @book.belongs_to?(current_user) %>
  <%= link_to 'Edit', edit_book_path(@book) %>
<% end %>

<% if @book.available_to_borrow?(current_user) %>
  <%= button_to "Reserve", reserve_book_path(@book), :method => :put %>
<% end %>

<% if @book.reserved_by?(current_user) %>
  <%= button_to "Withdraw reservation", unreserve_book_path(@book), :method => :put %>
<% end %>

